*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# Ignore Vite build directory by default
/public/build/*

# Keep production build artifacts in Git
!/public/build/
!/public/build/assets/
!/public/build/assets/*
!/public/build/manifest.json
!/public/build/fonts-manifest.json
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.nitpick
.env.*.local
*.md
